<nav class="navbar">
  <div class="brand">
    <div class="logo">
      <%= link_to 'ASTRO Resume', root_path, class: "no-underline" %>
    </div>

    <ul class="links">
      <% if policy(:interview).new? %>
        <li><%= link_to '面試大廳', '#' %></li>
      <% end %>

      <% if policy(:user).manage? %>
        <li><%= link_to '廠商', admin_vendors_path %></li>
        <li><%= link_to '學員', admin_users_path %></li>
      <% end %>
    </ul>
  </div>

  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <% if policy(:resume).new? %>
        <li><%= link_to '我的履歷', my_resumes_path %></li>
      <% end %>
      <% if policy(:interview).create? %>
        <li><%= link_to '履歷', '#' %></li>
      <% end %>
      <li><%= link_to '登出', sessions_path, method: :delete, data: { confirm: '確認登出？'} %></li>
    <% else %>
      <li><%= link_to '註冊', sign_up_users_path %></li>
      <li><%= link_to '登入', sign_in_users_path %></li>
    <% end %>
  </ul>
</nav>
