<%= form_with(model: resume) do |form| %>
  <div class="control">
    <%= form.label :title, "標題" %>
    <div class="col-span-4">
      <%= form.text_field :title, autocomplete: "off" %>
    </div>
  </div>

  <div class="control">
    <%= form.label :status, "狀態" %>
    <div class="col-span-4">
      <%= form.select :status, Resume.all_status %>
    </div>
  </div>

  <div class="control">
    <%= form.label :mugshot, "照片" %>
    <div class="col-span-4">
      <%= image_tag resume.mugshot, class: 'my-2' if resume.mugshot.attached? %>
      <%= form.file_field :mugshot %>
    </div>
  </div>

  <div class="control">
    <%= form.label :content, "內容" %>
    <div class="col-span-5">
      <%= form.text_area :content, data: {
        controller: "markdown-editor"
      } %>
      <span class="text-sm text-gray-500">說明：可使用 Markdown 語法編寫</span>
    </div>
  </div>

  <%= link_to "回上頁", my_resumes_path, class: "btn btn-cancel" %>
  <%= form.submit %>
<% end %>
