<article class="resume-card">
  <header>
    <%= resume.user.name %>
  </header>

  <% if resume.mugshot.attached? %>
    <%= image_tag resume.mugshot.variant(resize_to_limit: [300, 200])%>
  <% else %>
    <%= image_pack_tag "placeholder-image.png" %>
  <% end %>

  <footer class="flex items-center justify-between actions">
    <%= link_to "檢視", '#' %>
    <%= link_to "課金", buy_resume_path(resume), method: "post" %>

    <div data-controller="favorite-resume"
         data-liked="<%= current_user.liked?(resume) %>"
         data-resume-id="<%= resume.slug %>">
      <a href="#" data-favorite-resume-target="like" data-action="click->favorite-resume#like">讚</a>
      <a href="#" data-favorite-resume-target="unlike" data-action="click->favorite-resume#unlike">不讚</a>
    </div>
  </footer>
</article>
