<!DOCTYPE html>
<html class="bg-gray-50">
  <head>
    <title>ASTRO Resume</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="main">
      <%= render "shared/flash" if flash %>
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
